FLASK_ENV=dev
FLASK_HOST=0.0.0.0
FLASK_PORT=5000

API_URL=http://127.0.0.1:5000

DB_PATH=data/rate.db

TARGET_TEMP=20.0
HEAT_ADVANCE_MIN=60
DEG_PER_HOUR=2.5
TEMP_TOLERANCE=0.5

WEATHER_LATITUDE=48.8566
WEATHER_LONGITUDE=2.3522