# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de données & données locales
rate.db
measures.ndjson
.cache.sqlite

# Dossier de données (contenu ignoré, structure gardée)
data/*
!data/.gitkeep

# Modèle IA & scalers (trop lourds pour git)
*.tflite
*.pkl

# Secrets Arduino
sketch_dec16a/config.h

# Angular build
clientApp/node_modules/

# VS Code
.vscode/

# Fichiers d'environnement
.env
