[Unit]
Description=RATE Flask API
After=network.target

[Service]
User=customer
Group=gpio
WorkingDirectory=/home/customer/Documents/RATE
EnvironmentFile=/home/customer/Documents/RATE/.env

ExecStart=/home/customer/Documents/RATE/venv/bin/gunicorn \
    --bind 127.0.0.1:5000 \
    --workers 2 \
    --timeout 60 \
    --access-logfile /home/customer/Documents/RATE/logs/access.log \
    --error-logfile /home/customer/Documents/RATE/logs/error.log \
    server:app

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
